--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.2.1+cu121
torchvision==0.17.1+cu121
torchaudio==2.2.1+cu121
numpy==1.24.3
transformers==4.36.2
clip-interrogator==0.6.0
pillow==10.2.0
pandas==2.2.0
tqdm==4.66.0
keybert==0.8.3
sentence-transformers==2.5.1
scikit-learn==1.4.0
ftfy==6.2.0
regex==2023.12.25
protobuf==3.20.3
sentencepiece==0.2.0
open-clip-torch==2.20.0
timm==0.4.12
git+https://github.com/openai/CLIP.git
